<?xml version="1.0" encoding="UTF-8"?>
<applist>
    <app>
      <Name>HillDiff</Name>
      <Title>Hillslope Diffusion</Title>
      <Author>Peter N. Adams</Author>
      <Author>Hailey Johnson</Author>
      <Script>HillDiffSim</Script>
      <ImgSrc>hillslope.PNG</ImgSrc>
      <Description>This model demonstrates the evolution of a landscape dominated by diffusive erosion,in which high relief areas are smoothed to yield a landscape with more rounded, gently sloping hills and valleys.</Description>
    </app>
    <app>
      <Name>PeakIso</Name>
      <Title>Peak Isostasy</Title>
      <Author>Peter N. Adams</Author>
      <Author>Hailey Johnson</Author>
      <Script>PeakIsoSim</Script>
      <Description>Description</Description>
    </app>
    <app>
      <Name>Periglacial</Name>
      <Title>Periglacial</Title>
      <Author>Peter N. Adams</Author>
      <Author>Hailey Johnson</Author>
      <Script>PeriglacialSim</Script>
      <Description>Description</Description>
    </app>
</applist>